<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>Restaurant Lists</header>
    {{{body}}} <!--  Main body refer index.hbs-->
    <footer>Restaurant  Details&nbsp;&nbsp;&nbsp;&nbsp;Restaurant  Details&nbsp;&nbsp;&nbsp;&nbsp;Restaurant  Details&nbsp;&nbsp;&nbsp;&nbsp;Restaurant  Details&nbsp;&nbsp;&nbsp;&nbsp;Restaurant  Details</footer>
  </body>
</html>
