<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>Suphisara Inphong N01590484</header>
    {{{body}}} <!--  Main body refer index.hbs-->
    <footer>i.suphisara@gmail.com</footer>
  </body>
</html>
